<link href="./css/autocomplete.css" rel="stylesheet" type="text/css" />
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- top row -->
    <div class="row">
        <div class="col-xs-12 connectedSortable">
            
        </div><!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Main row -->
    <div class="row">
        <!-- Main content -->
        <section class="content">
            <!-- Form Element sizes -->
            <div class="box" style="width: 80%;">
                <div class="box-body">
                    <div style="margin-top: 10px;">
                        <label>Username:</label>
                        <input type="text" class="form-control input-lg" id="profile-username" />
                    </div>
                    <div style="margin-top: 10px;">
                        <label>First Name:</label>
                        <input class="form-control input-lg" id="profile-firstname" type="text">
                    </div>
                    <!-- phone mask -->
                    <div style="margin-top: 10px;">
                        <label>Last Name:</label>
                        <input type="text" class="form-control input-lg" id="profile-lastname" />
                    </div>
                    <div style="margin-top: 10px;">
                        <div class="form-group" style="width: 50%;">
                            <div style="float:left; width: 60%; height: 150px;">
                                <label>Avatar:</label>
                                <select id="profile-avatars" class="form-control">
                                    <!-- <option data-icon="icon-glass icon-white"><img src="./img/avatars/Bioman-Avatar-6-Peebo-icon.png">Mustard</option>
                                    <option data-icon="icon-heart icon-white">Ketchup</option>
                                    <option data-icon="icon-film icon-white">Relish</option> -->
                                </select>
                            </div>
                            <div style="float:left; width: 40%; height: 150px; text-align: right;">
                                <img id="img-avatar" style="width:128px;"/>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>

                    <!-- PASSWORD-->
                    <label>Password (Optional)</label>
                    <div style="width: 50%; background-color: #A2ABAD; padding: 20px;">
                        <div style="margin-top: 10px;">
                            <label>New Password:</label>
                            <input type="password" class="form-control input-lg" id="profile-password1" />
                        </div>

                        <div style="margin-top: 10px;">
                            <label>Confirm Password:</label>
                            <input type="password" class="form-control input-lg" id="profile-password2" />
                        </div>
                    </div>

                    <div style="text-align: right;">
                        <button class="btn btn-primary btn-lg" onclick="submit_form()">UPDATE</button>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </section>
    </div><!-- /.row (main row) -->

</section><!-- /.content -->
<!-- Page script -->
<script type="text/javascript">
    $(document).ready(function(){
        getavatars();

        $('#profile-avatars').on('change',function(i){
            var img = $(this).val();
            $('#img-avatar').attr('src','./img/avatars/'+img);
        });
    });

    function getavatars(){
        $.post('./functions/users/getavatars.php', function(data){
            if(data.status == true){
                $('#profile-avatars').empty();
                $.each(data.data, function(i){
                    $('#profile-avatars').append('<option value="'+this.name+'">'+this.name+'</option>');
                });

                getprofile();

                //$('#profile-avatars').addClass('selectpicker');
            }
            else {
                alert('Failed');
            }
        });
    }

    function getprofile(){
        $.post('./functions/users/getuserinfo.php', function(data){
            if(data.status == true){
                var user = data.data[0];
                
                $('#profile-username').val(user.username);
                $('#profile-firstname').val(user.firstname);
                $('#profile-lastname').val(user.lastname);
                $('#profile-avatars').prepend('<option value="'+user.avatar+'">'+user.avatar+'</option>');

                $('#profile-avatars').val(user.avatar);

                $('#img-avatar').attr('src','./img/avatars/'+user.avatar);

            }
            else {
                alert('Failed');
            }
        });
    }

    function submit_form(){
        var profile=[];
        $("[class^='form-control']").each(function(i){
            profile.push($(this).val());
        });

        if($('#profile-password1').val().replace(/(\s)/g,'') != $('#profile-password2').val().replace(/(\s)/g,'')){
            alert('New Password and Confirm Password did not match');
            return false;
        }

        $.post('./functions/users/updateprofile.php', { profile : profile }, function(data){
            if(data.status == true){
                alert('Profile Updated');
                $('#div-avatar').empty().append('<img src="img/avatars/'+$('#profile-avatars').val()+'" class="img-circle" alt="User Image" />');

                $('#profile-password1').val("");
                $('#profile-password2').val("");
            }
            else {
                alert('Failed');
            }
        });
    }
</script>

