<style>
#dialog {
    display:    block;
    width:      100%;
    height:     100%;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    background: rgba( 0, 0, 0, .3 );
}
</style>
<link href="./css/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
<section class="content">
	<div class="row">
		<div class="col-xs-12">
			<div class="box">
                <div class="box-header">
                    <h3 class="box-title">Report</h3>
                </div>
                <div class="box-body table-responsive">
                	<!-- Date and time range -->
                    <div class="form-group">
                    	<div>
                        	<label>Date range button:</label>
                    	</div>
                    	<div style="margin-bottom: 50px;">
	                        <div class="input-group" style="float: left;">
	                            <button class="btn btn-default pull-right" id="daterange-btn">
	                                <i class="fa fa-calendar"></i> Date range picker
	                                <i class="fa fa-caret-down"></i>
	                            </button>
	                            <div id="reportrange" style="display: none;">
	                            	<span></span>
	                            </div>                    
	                        </div>
	                        <div style="float: left; margin-left: 5px;">
	                        	<button class="btn btn-info" onclick="get_orders()">SEARCH</button>
	                        </div>
	                    </div>
                    </div><!-- /.form group -->

                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Author</th>
                                <th>Customer Name</th>
                                <th>Mobile</th>
                                <th>Landline</th>
                                <th>Location</th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Amount</th>
                                <th>Option</th>
                            </tr>
                        </thead>
                        <tbody id="tbody-orders">
                            <tr>
                                <td colspan="8" style="text-align: center;">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
		</div>
	</div>
</div>
<!-- Primary box -->
<div id="dialog">
    <div class="box box-solid box-info" style="width: 900px; margin: 0 auto; margin-top: 51px;">
        <div class="box-header">
            <h3 class="box-title" id="dialog-title">Info Solid Box</h3>
            <div class="box-tools pull-right">
                <!-- <button class="btn btn-info btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button> -->
                
                <button class="btn btn-primary btn-sm" onclick="update_order()">SAVE</button>
                <button class="btn btn-info btn-sm" data-widget="remove" onclick="close_editbox()"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body" id="dialog-body">
            
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>

<script type="text/javascript">
    $(function() {
        $('#dialog').hide();
    	$('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Tomorrow': [moment().add('days', 1), moment().add('days', 1)],
                        'Next 7 Days': [moment(), moment().add('days', 6)],
                        'Next 30 Days': [moment(), moment().add('days', 29)],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
                        'Last 7 Days': [moment().subtract('days', 6), moment()],
                        'Last 30 Days': [moment().subtract('days', 29), moment()],                        
                        'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')]
                    },
                    startDate: moment().subtract('days', 29),
                    endDate: moment()
                },
        function(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
    });

    function get_orders(){
    	var date = $('#reportrange span').html();
    	if(date == ""){
            
    	}
    	else {
    		$.post('./functions/orders/get_report.php', { date : date }, function(data){
	        	$('#tbody-orders').empty();
	            if(data.status == true){
	                $.each(data.data, function(i){
	                	$('#tbody-orders').append('\
	                								<tr>\
                                                        <td style="width: 120px;">\
                                                            <div class="pull-left image" style="float: left;">\
                                                                <img style="width:30px;" src="./img/avatars/'+this.avatar+'">\
                                                            </div>\
                                                            <div style="float: left; padding-left:5px;padding-top:10px;">'+this.author+'</div>\
                                                        </td>\
	                									<td style="vertical-align: middle;">'+this.customername+'</td>\
	                									<td style="vertical-align: middle; width: 130px;">'+this.mobilephone+'</td>\
	                									<td style="vertical-align: middle; width: 90px;">'+this.landline+'</td>\
	                									<td style="vertical-align: middle;">'+this.loc+'</td>\
	                									<td style="vertical-align: middle; width: 150px;"><span style="color:#21530D;">'+this.datefrom+"</span><br /><span style='color:#C80000;'>"
	                										 +this.dateto+'</span></td>\
	                									<td style="vertical-align: middle; width: 80px;">'+this.stat+'</td>\
                                                        <td style="vertical-align: middle; width: 90px; text-align: right; padding-right: 5px;">'+this.payment+'</td>\
	                									<td style="vertical-align: middle; text-align: center; width: 50px;"><a href="#" onclick="edit_order('+this.pk+')">EDIT</a></td>\
	                								</tr>\
	                							');
	                });
	            }
	            else {
	                $('#tbody-orders').append('<tr>\
					                                <td colspan="8" style="text-align: center;">No orders found</td>\
					                            </tr>');
	            }
	        });
    	}	        
    }

    function edit_order(pk){
        $('#dialog-body').load('./pages/templates/order_edit.html', { date : Date() });
        $('#dialog').show();

        $.post('./functions/orders/get_order.php', { pk : pk }, function(data){
            $.each(data.data, function(i){
                $('#form-orderspk').val(this.pk);
                $('#form-customername').val(this.customername);
                $('#form-mobile').val(this.mobilephone);
                $('#form-landline').val(this.landline);
                $('#form-location').val(this.loc);
                $('#form-mobile').val(this.mobilephone);
                $('#reservationtime').val(this.datefrom+" - "+this.dateto);
                $('#form-status').val(this.stat);
                $('#form-payment').val(this.payment);

                var from = this.datefrom.split(' ');

                $('.left').children('.calendar-time').children('.hourselect').val(from[1].split(':')[0].replace(/^0+/, ''));

                var min=0;
                if(from[1].split(':')[1] != '00'){
                    min = from[1].split(':')[1];
                }

                $('.left').children('.calendar-time').children('.minuteselect').val(min);

                $('.left').children('.calendar-time').children('.ampmselect').val(from[2]);

                var to = this.dateto.split(' ');

                $('.right').children('.calendar-time').children('.hourselect').val(to[1].split(':')[0].replace(/^0+/, ''));

                var min=0;
                if(to[1].split(':')[1] != '00'){
                    min = to[1].split(':')[1];
                }

                $('.right').children('.calendar-time').children('.minuteselect').val(min);

                $('.right').children('.calendar-time').children('.ampmselect').val(to[2]);

                var remarks = this.remark.split('||');
                $('#table-remarks').empty();

                for(var i in remarks){
                    if(remarks[i]){
                        var a = remarks[i].split('~@~');

                        $('#table-remarks').append('<tr>\
                                                        <td>'+a[1]+'<br />'+a[0]+'</td>\
                                                    </tr>');
                    }
                }
            });
        });
    }

    function close_editbox(){
        $('#dialog').hide();
        $('#dialog-body').empty();
    }
</script>

<!--
<script src="./js/plugins/datatables/jquery.dataTables.js" type="text/javascript"></script>
<script src="./js/plugins/datatables/dataTables.bootstrap.js" type="text/javascript"></script>

<script type="text/javascript">
    $(function() {
        $('#example2').dataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": false,
            "bSort": true,
            "bInfo": true,
            "bAutoWidth": false
        });
    });
</script>
-->