<div class="div-list">
	<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Portal</li>
    </ol>
	<table border="1">
		<thead>
			<tr>
				<th style="text-align:center;width:90%;">Taxi Company</th>
				<th style="text-align:center;">Options</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr> -->
				<td>Taxi 1</td>
				<td></td>
			</tr>
			<tr>
				<td>Taxi 2</td>
				<td></td>
			</tr>
			<tr>
				<td>Taxi 3</td>
				<td></td>
			</tr>
			<tr>
				<td>Taxi 4</td>
				<td></td>
			</tr>
			<tr>
				<td>Taxi 5</td>
				<td></td>
			</tr>
			<tr>
				<td>Taxi 6</td>
				<td></td>
			</tr>
			<tr>
				<td>Taxi 7</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>