<div class="div-list">
	<ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Portal</li>
    </ol>
	<table border="1">
		<thead>
			<tr>
				<th style="text-align:center;width:90%;">City</th>
				<th style="text-align:center;">Options</th>
			</tr>
		</thead>
		<tbody>
			<!-- <tr> -->
				<td>Jaro</td>
				<td></td>
			</tr>
			<tr>
				<td>La Paz</td>
				<td></td>
			</tr>
			<tr>
				<td>Mandurriao</td>
				<td></td>
			</tr>
			<tr>
				<td>Lapuz</td>
				<td></td>
			</tr>
			<tr>
				<td>City Proper</td>
				<td></td>
			</tr>
			<tr>
				<td>Molo</td>
				<td></td>
			</tr>
			<tr>
				<td>Villa Arevalo</td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>